{% extends 'base.html.twig' %}

{% block title %}Edit Adherents{% endblock %}

{% block body %}
    <h1>Edit Adherents</h1>

    {{ include('adherents/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div>
        <a href="{{ path('adherents_index') }}">Retour à la liste</a>
    </div>
    {{ include('adherents/_delete_form.html.twig') }}
{% endblock %}